*{
    margin: 0;
    padding: 0;
}




.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)10%,rgba(0,0,0,0.5)50%), url(background.jpg.jpg);
    
    background-position-y: center;
    background-size: cover;
    height: 140vh;
}

.navbar{
    display:flex;
    justify-content:normal;
    align-items:stretch;
    width:1200px;
    height:75px;
    margin:auto;
}

.menu{
 width:400px;
 float:none;
 height:70px;
 margin: 10px ;

}

ul{
    float:left;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

ul li{
    transition:0.3s ease;
    padding-top:30px;
    text-decoration:none;
    padding-left:120px;
    list-style-type:none;
}
 ul li a:hover{
    color:#d511c5;
    translate:0px-5px;
 }

ul li a{
    transition:0.3s ease;
    font-weight:bold;
     color:#cc85a7;
    text-decoration:none;
}

.srch{
    width:330px;
    float:left;
    margin-left:180px;

}

.srch{
    width:330px;
    height:40px;
    background:transparent;
    border:2px solid #cc85a7;
    margin-top:10px;
    margin-left:1opx;
    color:#cc85a7;
    
    padding:10px 10px;
    float:left;
   border-radius:1px;
}

.btn1{
    width:100px;
    height:40px;
    background:#cc85a7;
    color:#fff;
    font-size: 15px;
    padding:10px 10px;
    margin-top:15px;
    cursor:pointer;
    transition:0.3s ease;
    border:2px solid #be62a7;
    border-radius:15px;
    margin-left:20px;

}

.btn1:hover{
    background-color:#d561cb;
    translate:0px-3px;

}

.srch:focus{
    outline:none;
}

.content{
    width:1200px;
    height:auto;
    margin:auto;
    color:#fdfdfd;
    position:relative;
}

.content h1{
    font-size:75px;
    padding-left:20px;
    margin-top:10%;
    letter-spacing:2px;
}

.content .par{
    color:rgb(255, 255, 255);
    padding-left:20px;
    padding-bottom:25px;
    letter-spacing:1.2px;
    line-height:30px;
    font-weight:italic;
    font-size: 20px;

}

.btnsubmit{
    width:150px;
    height:40px;
    background:#f4f3ef;
    color:#cc85a7;
    font-size: 15px;
    padding:10px 10px;
    margin-top:15px;
    cursor:pointer;
    transition:0.3s ease;
    border:2px solid #Be6b01;
    border-radius:15px;
    margin-right:10px;

}
.btnsubmit1{
    width:150px;
    height:40px;
    background:#fefdfb;
    color:#cc85a7;
    font-size: 15px;
    padding:10px 10px;
    margin-top:15px;
    cursor:pointer;
    transition:0.3s ease;
    border:2px solid #Be6b01;
    border-radius:15px;
    margin-left:20px;

}
.submit{
    padding-left:20px;

}
.form{
    width:250px;
    height:370px;
    position:absolute;
    top:150px;
    left:1200px;
    color:#11100d;
    font-size:22px;
    background-color:#9c8791;
    border-radius:20px;
    padding:8px;
    margin:2px;
}

.form h2{
    width:220px;
    text-align:center;
    color:#0d0c0f;
    font-size:22px;
    background-color: white;
    border-radius:20px;
    padding:8px;
    margin:2px;
}

.form input{
    width:240px;
    height:35px;
    background-color:aliceblue;
    border-radius:10px;
    padding:3px;
    margin:5px;
    color:#fff;
    font-size:20px;
    letter-spacing:1px;
    margin-top:30px;
}

.form .link{
    font-size:17px;
    padding-top:20px;
    text-align:center;
    
}

.link a{
    text-decoration:none;
    font-size:17px;
    color:#fff;

}
.link a:hover{
    color:#b9e172;
}
.form .link{
    font-size:12px;
    padding-top:5px;
    text-align:center;
    padding-bottom:20px;
}

.icons a{
    text-decoration:none;
    color:black;
}

.icons ion-icon{
    color:rgb(242, 240, 240);
    font-size:30px;
    padding-left:14px;
    transition:0.3s ease;
}

.icons ion-icon:hover{
    color:#100c0e;
}
.btnn{
    padding:5px 5px 5px 5px;
    background:#fbfbfb;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s ease;
    
    color:#8c3535;
     font-size:15px;
     margin-left:90px;
     margin-top:15px;
}

.btnn:hover{
    background-color:#d173b0;
    translate:0px-3px;
    color:#fff;
}
